<h1>Welcome</h1>

<% if logged_in? %>
  <h1>You are Logged In, <%= current_member.name %></h1>
<%end%>

<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/members/new', method: :get%>
